# Ignoring Jupyter Notebook checkpoints files:
.ipynb_checkpoints

# Ignoring imgs
gen_imgs/*

# Ignoring plots
plots/*

# Ignoring saved models
saved_model/*

# Igoring help file:
script.py

# Ignoring pycache
__pycache__
